.search-div{
    width: 450px;
    height: 50px;
    margin: 50px auto;
}
.film-div{
    width: 450px;
    margin: 0 auto;
}
.margin{
    margin-bottom: 30px;
}
.time-and-population{
    width: 450px;
    margin: 180px auto;
}